
RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 

ErrorDocument 404 /https://www.ivas.homes/appliances/


Redirect 301 /home-appliances/ https://www.ivas.homes/appliances/
