@font-face {
  font-family: "AUTOGRAPHY";
  src: url(fonts/AUTOGRAPHY.OTF) format("opentype");
}
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #000;
}
.homebannersec
{
    position: relative;
}
.homebannersec .carousel
{
    margin-bottom: 0;
}
.homebannersec .carousel .carousel-control-next, .carousel-control-prev
{
        width: 8%;
        opacity: 1;
            display: none;
}
.homebannersec  .carousel-control-next-icon, .homebannersec .carousel-control-prev-icon
{
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
}
.homebannersec .carousel-control-prev-icon:after
{
    content: '';
    position: absolute;
    left: -8px;
    top: -10px;
    height: 40px;
    width: 40px;
    background: #f05323;
    border-radius: 50%;
    z-index: -1;

}
.homebannersec .carousel-control-next-icon:after 
{
    content: '';
    position: absolute;
    left: -11px;
    top: -10px;
    height: 40px;
    width: 40px;
    background: #f05323;
    border-radius: 50%;
    z-index: -1;
}
.homebannersec .carousel-caption
{
    width: 380px;
}
.homebannersec .carousel-caption .suptitle
{
    font-family: "AUTOGRAPHY";
    font-size: 34px;
    line-height: 2.2;
    border-bottom: 0.7px dotted rgb(255 255 255 / 60%);
}
.homebannersec .carousel-caption .title
{
        color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 5.1em;
    line-height: 1;
    -webkit-text-stroke: 0.5px white;
        margin-bottom: 20px;
}
.homebannersec .carousel-caption .title span
{
    color: #fff;
}
.homebannersec .carousel-caption .desc
{
    position: relative;
    font-size: 16px;
    padding-left: 1em;
    margin-bottom: 25px;
}
.homebannersec .carousel-caption .desc:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background: #fff;
}
.homebannersec .carousel-caption .caplink {
}
.homebannersec .carousel-caption .caplink a {
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}
.homebannersec .carousel-caption .caplink i {
    background: #f05323;
    color: #fff;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-left: 5px;
}
.homebannersec .carousel-caption.cpation1
{
    left: 32%;
    top: 13%;
}
.homebannersec .carousel-caption.cpation2
{
    left: 43%;
    top: 12%;
}
.homebannersec .carousel-caption.cpation3
{
    left: 38%;
    top: 32%;
}
.homebannersec .carousel-caption.cpation4
{
    left: 18%;
    top: 25%;
    width: 420px;
}
.homebreadcrumbsec 
{
    padding-top: 2em;
    padding-bottom: 2em;
}
.homebreadcrumbsec .breadcrumb
{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 16px;
}
.homebreadcrumbsec li.breadcrumb-item a {
    color: #000;
}
.homebreadcrumbsec .breadcrumb-item+.breadcrumb-item::before
{
    float: left;
    padding-right:0.5rem;
    color: rgb(33 37 41 / 75%);
    content: "/";
}
.breadcrumb-item.active {
    color: rgba(33, 37, 41, 0.75);;
}
.sec-title
{
    font-size: 30px;
        margin-bottom: 2em;
    text-transform: capitalize;
    
}
.sec-title span
{
    position: relative;
}
.sec-title span:after
{
    content: '';
    position: absolute;
    bottom: -15px;
    height: 1px;
    background: #000;
    width: 40%;
    left: 0;
}
.sec-title.text-center span:after
{
    left: 0;
    right: 0;
    margin: 0 auto;
}
.homecategorysec
{
    padding-top: 1em;
    padding-bottom: 3em;
}
.homecategorysec .homecatlist .catblkrow
{
    border-bottom: 1px solid #CFCFCF;
    padding-bottom: 1.8em;
    margin-bottom: 1.8em;
}
.homecategorysec .homecatlist .catblkrow:last-child
{
    border-bottom: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.homecategorysec .catimgblk
{
        padding: 2em 1em;
}
.homecategorysec .catblklft .catimgblk img
{
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.homecategorysec .catblklft .catimgblk figure
{
    overflow: hidden;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
}
.homecategorysec .catblklft .catimgblk img:hover
{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.homecategorysec .catblkrgt .catimgblk figure
{
    overflow: hidden;
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
}
.homecategorysec .catblkrgt .catimgblk img
{
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.homecategorysec .catblkrgt .catimgblk img:hover
{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.homecategorysec .catcntblk
{
        padding: 2em 1em;
}
.homecategorysec .catcntblk .title
{
       text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 30px;
}
.homecategorysec .catcntblk .title span
{
    position: relative;
}
.homecategorysec .catcntblk .title span:after {
    content: '';
    position: absolute;
    bottom: -15px;
    height: 1px;
    background: #000;
    width: 25%;
    left: 0;
}
.homecategorysec .catcntblk .subcatblk
{
    padding: 10px;
    text-align: center;
}
.homecategorysec .catcntblk .subcatblk img
{
    border-radius: 12px;
    margin-bottom: 12px;
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
        -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
        margin-bottom: 0;
}
.homecategorysec .catcntblk .subcatblk:hover img
{
    -webkit-transform: rotate(5deg) scale(1.3);
    transform: rotate(5deg) scale(1.3);
}
.homecategorysec .catcntblk .subcatblk:hover .title
{
    color: #f05323;
}
.homecategorysec .catcntblk .subcatblk figure
{
    overflow: hidden;
    border-radius: 12px;
}
.homecategorysec .catcntblk .subcatblk .title
{
        font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 10;
}
.homecategorysec .catcntblk hr
{
margin-top: 20px;
    margin-bottom: 30px;
}
.homecategorysec .catcntblk .link a
{
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}
.homecategorysec .catcntblk .link i
{
        background: #f05323;
    color: #fff;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-left: 5px;
}
.homecategorysec hr
{
margin-top: 30px;
    margin-bottom: 30px;
}
.catalogsec
{
    padding-top: 2em;
    padding-bottom: 2em;
}   
.catalogsec .catalogdiv
{
    background: #FBFBFB;
    padding: 3em 8em;
    position: relative;
    z-index: 0;
}
.catalogsec .catalogdiv:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 350px;
    background-image: url('../images/catalog-shape.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.catalogsec .catlogcntblk
{
        padding: 0 2em;
}
.catalogsec .catlogcntblk .supttl
{
        text-transform: capitalize;
    font-size: 20px;
}
.catalogsec .catlogcntblk .ttlblk
{
    display: flex;
    align-items: end;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #BEBEBE;
}
.catalogsec .catlogcntblk .ttlblk img
{
        height: 50px;
    width: auto;
    margin-right: 10px;
}
.catalogsec .catlogcntblk .ttlblk span
{
    font-size: 22px;
    text-transform: capitalize;
}
.catalogsec .catlogcntblk .downloadbtn
{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.catalogsec .catlogcntblk .downloadbtn:hover a
{
    background: #000;
    border: 1px solid #000;
    color: #f05323;
}
.catalogsec .catlogcntblk .downloadbtn a
{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    background: #f05323;
    justify-content: center;
    border: 1px solid #f05323;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
}
.faqsec
{
    padding-top: 4em;
    padding-bottom: 4em;
}
.faqsec .accordionCvr{
    padding-top: 3em;
}
.faqsec .accordionCvr .accordion-item .faq-no{
    margin-right: 2em;
    border-radius: 50%;
    text-align: center;   
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    font-size: 14px;
}
.faqsec .accordionCvr .accordion-item .faq-ques{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0px;
}
.faqsec .accordionCvr .accordion-item
{
    border-bottom: 0;
    margin-bottom: 30px;
    background: transparent;
}
.faqsec .accordionCvr .accordion-item .accordion-button{
    font-weight: 600;
    font-size: 16px;
    background: #ffffff;
        border-radius: 12px;
    position: relative;    
}
.faqsec .accordionCvr .accordion-item .accordion-button:not(.collapsed)::before
{
    background: #f05323;
}
.faqsec .accordionCvr .accordion-item .accordion-button:before
{
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: -65px;
    top: 0;
    background: #000;
}
.faqsec .accordionCvr .accordion-item .accordion-header
{
    position: relative;
}
.faqsec .accordionCvr .accordion-item .accordion-header:before
{
    content: '';
    position: absolute;
    left: -53px;
    top: 12px;
    height: 26px;
    width: 26px;
    z-index: 8;
    background-position: center;
    background-size: cover;
}
.faqsec .accordionCvr .accordion-item .accordion-header.cooking:before
{
    background-image: url('../images/cooking-icon.png');
}
.faqsec .accordionCvr .accordion-item .accordion-header.kitchen:before
{
    background-image: url('../images/kitchen-icon.png');
}
.faqsec .accordionCvr .accordion-item .accordion-header.fabric:before
{
    background-image: url('../images/fabric-icon.png');
}
.faqsec .accordionCvr .accordion-item .accordion-button:focus {    
    box-shadow: none;
}
.faqsec .accordionCvr .accordion-item .accordion-button:not(.collapsed) {   
    box-shadow: none;
    color: #383838;
}
.faqsec .accordionCvr .accordion-item .accordion-button::after{    
    content: "\f063";
    font-family: "FontAwesome";
    background-image: none;
        font-size: 16px;
    border-radius: 50%;
    font-weight: 100;
    line-height: 18px;
    color: #383838;
    text-align: center;
}
.faqsec .accordionCvr .accordion-item .accordion-button:not(.collapsed)::after {
    content: "\f062";
    font-family: "FontAwesome";  
    background-image: none;
    transform: rotate(0deg); 
    color: #f05323;   
}
.faqsec .accordionCvr .accordion-item .accordion-button.yellow::after{
    border-color:#FCC138;
}
.faqsec .accordionCvr .accordion-item .accordion-button.green::after{
    border-color:#2FBC64;
}
.faqsec .accordionCvr .accordion-item .accordion-button.blue::after{
    border-color:#3496D0;
}
.faqsec .accordionCvr .accordion-item .accordion-button.purple::after{
    border-color:#6D6AB0;
}
.faqsec .accordionCvr .accordion-item .accordion-button.red::after{
    border-color:#D5446E;
}
.faqsec .accordionCvr .accordion-item .accordion-button.orange::after{
    border-color:#F37124;
}
.faqsec .accordionCvr .accordion-item .accordion-body{
   background: #ffffff;
    border-radius: 12px;
    margin-top: 10px;
}  
.ctasec
{
    padding-top: 6em;
    padding-bottom: 2em;
}  
.ctasec .ctablock
{
    padding-bottom: 6em;
    border-bottom: 1px solid #CFCFCF;
}
.ctasec .ctafrmimg img
{
    border-left: 0.83px solid #BEBEBE;
    padding-right: 2em;
}
.ctasec .ctafrmback
{

}
.ctasec .ctafrm
{
    padding: 3em 4em;
    background: #FBFBFB;
    border: 1px solid #000000;
    border-radius: 20px;
}
.ctasec .ctafrm .title
{
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: capitalize;
} 
.ctasec .ctafrm .title span
{
    position: relative;
}
.ctasec .ctafrm .title span:after {
    content: '';
    position: absolute;
    bottom: -15px;
    height: 1px;
    background: #000;
    width: 40%;
    left: 0;
}
.ctasec .ctafrm p
{
    font-size: 14px;
}  
.ctasec .ctafrm form input:not([type="submit"]), .ctasec .ctafrm textarea {
    height: auto;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    font-size: 15px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-bottom: 1px solid #000;
    color: #000;
    border-radius: 0;
    position: relative;
}
.ctafrm form input:not([type="submit"]), .ctafrm textarea {
    height: auto;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    font-size: 15px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-bottom: 1px solid #000;
    color: #000;
    border-radius: 0;
    position: relative;
}
.ctasec .ctafrm form input:not([type="submit"]):focus, .ctasec .ctafrm textarea:focus{outline: none;}
.ctafrm form input:not([type="submit"]):focus, .ctafrm textarea:focus{outline: none;}
.ctasec .ctafrm form .sendbtn {
    height: auto;
    padding: 12px;
    margin-bottom: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    width: 100%;
    border-radius: 35px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: #383838;
}
.ctafrm select{
    height: auto;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    font-size: 15px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
        background-color: transparent;
    border-bottom: 1px solid #000;
    color: #000;
    border-radius: 0;
    appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}
.ctasec .ctafrm form .sendbtn:hover{
    background: #f05323;
}
.ctafrm form .sendbtn {
    height: auto;
    padding: 12px;
    margin-bottom: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    width: 100%;
    border-radius: 35px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: #383838;
}
.ctafrm form .sendbtn:hover{
    background: #f05323;
}
.ctafrm .g-recaptcha
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.ctasec .ctacntblk 
{
    padding: 0 1.5em;
}
.ctasec .ctacntblk .title
{
        font-size: 32px;
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 20px;
}
.ctasec .ctacntblk .title span
{
display: block;
    font-weight: 600;
    color: #F05323;
}
.ctasec .ctacntblk .subttl
{
    position: relative;
    font-size: 18px;
    margin-bottom: 30px;
}
.ctasec .ctacntblk .subttl:after
{
    content: '';
    position: absolute;
    right: 0;
    top: 15px;
    width: 80%;
    height: 1px;
    background: #BEBEBE;
}
.ctasec .ctacntblk .catlink
{
    display: flex;
    border: 1px solid #BEBEBE;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 7px 7px;
    margin-bottom: 15px;
}
.ctasec .ctacntblk .catlink:hover
{
    background: #f05323;
    border: 1px solid #f05323;
}
.ctasec .ctacntblk .catlink:hover .icn
{
    background: #000;
}
.ctasec .ctacntblk .catlink:hover p
{
    color: #fff;
}
.ctasec .ctacntblk .catlink p
{
    margin-bottom: 0;
    color: #000;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    padding-left: 20px;
}
.ctasec .ctacntblk .catlink span
{
        display: block;
    font-size: 13px;
    font-weight: 400;
}
.ctasec .ctacntblk .catlink .icn
{
    width: 40px;
    height: 40px;
    background: #f05323;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0;
}
.homeblogsec
{
   padding-top: 5em;
    padding-bottom: 3em;
    background: #FBFBFB;
}
.homeblogsec .blogdiv
{
    margin-top: 2em;
}
.homeblogsec .blogblock
{
    margin: 0 10px;
    border-radius: 20px;
    border: 1.15px solid #D3D3D3;
    background: #FFF;
    margin-bottom: 40px;
}
.homeblogsec .blogblock:hover .blogcnt .blogtitlblk .caticn
{
    background: #000;
}
.homeblogsec .blogblock .blogimg
{
    position: relative;
        overflow: hidden;
}
.homeblogsec .blogblock .blogimg::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.homeblogsec .blogblock:hover .blogimg::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

.homeblogsec .blogblock .blogimg img
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.homeblogsec .blogblock .blogcnt
{
    background: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 25px 30px;
}
.homeblogsec .blogblock .blogcnt .blogtitlblk
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDD;
    padding-bottom: 15px;
}
.homeblogsec .blogblock .blogcnt .blogtitlblk .title
{
        font-size: 18px;
    line-height: 1.3;
    text-transform: capitalize;
    float: left;
    width: 80%;
}
.homeblogsec .blogblock .blogcnt .blogtitlblk .title a
{
    color: #000;
}
.homeblogsec .blogblock .blogcnt .blogtitlblk .caticn
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: right;
    margin-right: 15px;
    background: #f05323;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeblogsec .blogblock .blogcnt .blogtitlblk img
{
    height: 30px;
    width: auto;
}
.homeblogsec .blogblock .blogcnt p
{

}
.homeblogsec .blogblock .blogcnt .catlink
{

}
.homeblogsec .blogblock .blogcnt .catlink a
{
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}
.homeblogsec .blogblock .blogcnt .catlink i
{
        background: #f05323;
    color: #fff;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-left: 5px;
}
.whyussec
{
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    z-index: 0;
}
.whyussec .whyblk
{
        padding: 2em 2em;
    border: 1px solid #BEBEBE;
    text-align: center;
    height: 385px;
    margin: 0 1em;
    margin-bottom: 35px;
    border-radius: 30px;
}
.whyussec .whyblk:hover
{
    border: 1px solid #f05323;
}
.whyussec .whyblk:hover img
{
    animation-name: tada;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.whyussec .whyblk:hover .title
{
    color: #f05323;
}
.whyussec .whyblk img
{
    height: 70px;
    width: auto;
    margin-bottom: 15px;
}
.whyussec .whyblk .title
{
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 16px;
}
.whyussec .whyblk p
{

}
.testisec
{
    padding-top: 4em;
    padding-bottom: 4em;
}
.testisec .testiblk
{
        border-radius: 23px;
    background: #FAFAFA;
    padding: 5em 9em;
    position: relative;
    z-index: 0;
}
.testisec .testiblk:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/checks-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.05;
}
.testisec .testiblk .testittl
{
    text-align: center;
    position: relative;
}
.testisec .testiblk .testittl:before
{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    background-image: url(../images/quote.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    height: 33px;
    width: 40px;
}
.testisec .testiblk .testittl img
{
    height: 180px;
    width: 180px;
    -webkit-animation: rotating 9s linear infinite;
  -moz-animation: rotating 9s linear infinite;
  -ms-animation: rotating 9s linear infinite;
  -o-animation: rotating 9s linear infinite;
  animation: rotating 9s linear infinite;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.testisec #testimonial-slider
{
    margin-top: 3em;
}
.testisec .testimonial{
    margin: 0 15px;
        text-align: center;
}
.testisec .testimonial .description{
    position: relative;
    font-size: 16px;
    line-height: 26px;
    padding: 1em 8em;
    text-align: center;
}
.testisec .testimonial .description:after
{
    content: '';
    position: absolute;
    background: #D1D1D1;
    height: 1px;
    width: 20%;
    bottom: -14px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.testisec .testimonial .pic{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    float: left;
}
.testisec .testimonial .pic img{
    width: 100%;
    height: auto;
}
.testisec .testimonial .testimonial-title{
        display: inline-block;
    text-transform: capitalize;
    margin-top: 20px;
}
.testisec .testimonial .testimonial-title span{
    display: block;
    font-size:17px;
    font-weight: bold;
    margin-bottom: 10px;
}
.testisec .testimonial .testimonial-title small{
    display: block;
    font-size:14px;
}
.testisec .owl-carousel .owl-nav button{
    border-radius: 0;
    background:#f05323;
    border-radius: 50%;
    padding: 0 !important;
    height: 35px;
    width: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    font-size: 18px;
}
@media only screen and (max-width: 767px){
    .testisec .testimonial .description{
        font-size: 14px;
    }
    .testisec .testimonial .description:after{
            left: 14%;
    }
}
@media only screen and (max-width: 479px){
    .testisec .owl-nav{
        bottom: 0;
    }
    .testisec .testimonial .description:after{
        left: 18%;
    }
}
.testisec .ctatitlblk
{
    text-align: center;
    margin-top: 5em;
}
.testisec .ctatitlblk p
{
    text-transform: capitalize;
        margin-bottom: 25px;
        font-weight: 500;
}
.testisec .ctatitlblk ul
{
    display: flex;
    justify-content: center;
}
.testisec .ctatitlblk li
{
    position: relative;
    margin: 0 30px;
}
.testisec .ctatitlblk li:after
{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #000;
        right: -25px;
    top: 0;
}
.testisec .ctatitlblk li:last-child:after
{
    display: none;
}
.testisec .ctatitlblk li a
{
    font-size: 18px;
    color: #000;
    font-weight: 600;
}
.testisec .ctatitlblk li a i
{
        margin-right: 10px;
}
.videoslidersec
{
    padding-top: 4em;
    padding-bottom: 2em;
}
.videoslidersec .videocntblk
{

}
.videoslidersec .videocntblk .sec-title
{
        font-size: 34px;
    margin-bottom: 30px;
}
.videoslidersec .videocntblk .sec-title span span
{
    display: block;
}
.videoslidersec .videocntblk .sec-title span span:after
{
    display: none;
}
.videoslidersec .vidodiv
{
    height: 550px;
    padding: 1em 0em;
}
.videoslidersec .vidodiv iframe
{
    border-radius: 10px;
        width: 100%;
    height: 100%;
}
.videoslidersec .vidothumb
{
    padding: 20px;
}
.videoslidersec .vidothumb img
{
    border-radius: 10px;
}
.videoslidersec .slider-nav .slick-next
{
    background: #f05323;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 0 !important;
    position: absolute;
    left: -40px;
    top: 44%;
}
.videoslidersec .slider-nav .slick-previous
{
    background: #f05323;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 0 !important;
    margin-left: -70px;
    position: absolute;
    right: -40px;
    top: 44%;
}
.innerpagebannersec
{
    height: 530px;
    background-size: cover;
    background-position: center;
        position: relative;
}
.innerpagebannersec.subcatbanner
{
    height: 530px;
    background-size: cover;
    background-position: center;
}
.maincatlist
{
    padding-bottom: 3em;
}
.maincatlist .maincatttlblk
{
    margin-bottom: 3em;
}
.maincatlist .maincatttlblk .sec-title
{
    margin-bottom: 1.5em;
}
.maincatlist .maincatimg figure
{
    overflow: hidden;
    margin-bottom: 0;
}
.maincatlist .maincatimg img
{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.maincatlist .maincatimg img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.maincatlist .maincatcnt
{
    height: 559px;
    background: #F4F4F4;
    padding: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.maincatlist .maincatcnt .title
{
    position: relative;
    font-size: 26px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.maincatlist .maincatcnt .title:after
{
    content: '';
    position: absolute;
    bottom: -10px;
    height: 1px;
    background: #000;
    width: 10%;
    left: 0;
}
.maincatlist .maincatcnt .desc
{
        font-size: 14px;
    margin-bottom: 20px;
}
.maincatlist .maincatcnt .link a {
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
        font-size: 15px;
}
.maincatlist .maincatcnt .link i {
    background: #f05323;
    color: #fff;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-left: 5px;
}
.maincatlist .maincatcnt.maincatcntsm
{
        height: 419px;
}
.maincatlist .maincatcnt.maincatcntsm .title
{
    font-size: 20px;
}
.maincatlist hr
{
        margin-top: 3.5em;
    margin-bottom: 3.5em;
}
.catlistingsec
{
    padding-top: 1em;
    padding-bottom: 2em;
}
.catlistingsec .catsidebar {
    padding: 10px 10px;
}
.catlistingsec .catlisting {
    padding: 10px 10px;
}
.catsoringdiv
{
    margin-bottom: 20px;
}
.catsoringdiv .sorting-result-count
{
    text-transform: capitalize;
}
.catsoringdiv .orderingfrm
{
    float: right;
}
.catsoringdiv .orderingfrm select
{
    vertical-align: top;
    font-size: 14px;
    padding: 8px 10px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-transform: capitalize;
    border: none;
}
.catlistingblk
{

}
.catlistingblk .productblk
{
    border-radius: 15px;
    border: 0.788px solid #D3D3D3;
    margin-bottom: 25px;
}
.catlistingblk .productblk .productblkimg
{
    background: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.catlistingblk .productblk .productblkimg a img
{
        border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.catlistingblk .productblk .productblkcnt
{
    background: #FBFBFB;
    padding: 1em;
    text-align: center;    
}
.catlistingblk .productblk .productblkcnt .title
{
    font-size: 16px;
    text-transform: capitalize;
}
.catlistingblk .productblk .productblkcnt .productfeatlist
{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
        margin-bottom: 0;
}
.catlistingblk .productblk .productblkcnt .productfeatlist li
{
        margin: 0 5px;
}
.catlistingblk .productblk .productblkcnt .productfeatlist li img
{
    
}
.catlistingblk .productblk .productblklink
{
    background: #000;
    text-align: center;
    padding: 8px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.catlistingblk .productblk:hover .productblklink
{
    background: #f05323;
}
.catlistingblk .productblk .productblklink a
{
    color: #fff;
    font-size: 13px;
    display: block;
}
.catsidebar .catfiltblk
{
    margin-bottom: 20px;
}
.catsidebar .catfiltblk .title
{
    color: #000;
    padding: 10px 15px;
    position: relative;
    background: #fff;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 15px;
}
.catsidebar .catfiltblk .title .cattoggle
{
    color: #000;
    display: block;
    position: relative;
}
.catsidebar .catfiltblk .title .cattoggle:after
{
    content: "\f106";
    position: absolute;
    right: 4px;
    top: -3px;
    color: #f05323;
    font: normal normal normal 20px/1 FontAwesome;
}
.catsidebar .catfiltblk .title .cattoggle.collapsed:after
{
    content: "\f107";
}
.catsidebar .catfiltblk .collapsing
{
    background: transparent;
    border: none;
}
.catsidebar .catfiltblk .collapse .card-body
{
    background: transparent;
    border: none;
    padding: 0 1em;
    max-height: 205px;
    overflow-y: auto;
}
.catsidebar .catfiltblk .collapse .card-body .form-check
{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.catsidebar .catfiltblk .collapse .card-body .form-check a
{
    color: #212529;
    display: block;
    width: 100%;
}
.catsidebar .catfiltblk .collapse .card-body .form-check .form-check-input[type=checkbox]
{
    border-radius: 0;
        height: 20px;
    width: 20px;
    cursor: pointer;
}
.catsidebar .catfiltblk .collapse .card-body .form-check .form-check-label
{
    font-size: 14px;
    line-height: 2;
    margin-left: 12px;
    cursor: pointer;
}
.form-check-input:checked {
        background-color: #f05323;
    border-color: #f05323;
}
.form-check-input:focus
{
    box-shadow: 0 0 0 0.25rem rgb(240 83 35 / 25%);
}
.productdetailsec
{
    padding-bottom: 3em;
    position: relative;
}
.productdetailsec .productimagesblk
{
    padding: 0 3em;
}
.productdetailsec .productimagesblk .slick-slide
{
     height: auto;
}
.productdetailsec .productimagesblk .thumbimg
{
    margin: 10px;
    background: #fff;
}
.zoompro-wrap.zoompro-2 {

  display: inline-block;

  position: relative;

  width: 100%;

  margin-bottom: 10px; }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {

    .zoompro-wrap.zoompro-2 {

      width: 100%; } }

  @media only screen and (max-width: 767px) {

    .zoompro-wrap.zoompro-2 {

      margin-bottom: 30px;

      width: 100%; } }



.zoompro-wrap .zoompro-span {

  position: relative;background: #fff; }

  .zoompro-wrap .zoompro-span span {

    position: absolute;

    top: 30px;

    left: 30px;

    font-size: 13px;

    color: #fff;

    display: inline-block;

    line-height: 1;

    padding: 3px 11px;

    border-radius: 3px;

    font-weight: 500;

    background-color: #fa6bff;

    z-index: 99; }

  .zoompro-wrap .zoompro-span .product-video {

    text-align: center;

    position: absolute;

    bottom: 30px;

    left: 30px;

    z-index: 99; }

    .zoompro-wrap .zoompro-span .product-video a {

      background-color: #fa6bff;

      border-radius: 3px;

      color: #fff;

      display: inline-block;

      padding: 5px 15px 5px; }

      @media only screen and (max-width: 767px) {

        .zoompro-wrap .zoompro-span .product-video a {

          padding: 3px 10px 3px; } }

  .zoompro-wrap .zoompro-span img {

    width: 100%; }
.productdetailsec .productdetailsblk
{
    position: sticky;
    top: 30px;
    padding: 0 20px;
}
.productdetailsec .productdetailsblk .title
{
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.productdetailsec .productdetailsblk .productattributes
{
    margin-bottom: 1em;
}
.productdetailsec .productdetailsblk .productattributes table
{
        font-size: 14px;
}
.productdetailsec .productdetailsblk .productattributes tr .titletd
{
        padding: 10px 0px;
        text-transform: capitalize;
}
.productdetailsec .productdetailsblk .productattributes tr td
{
        padding: 10px 12px;
}
.productdetailsec .productdetailsblk .productattributes .colorlist
{
        padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.productdetailsec .productdetailsblk .productattributes .colorlist li
{
    
}
.productdetailsec .productdetailsblk .productattributes .colorlist li .clorblk
{
    text-align: center;
    font-size: 12px;
    margin: 2px 4px;
}
.productdetailsec .productdetailsblk .productattributes .colorlist li .clrspan
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    box-shadow: 1px 2px 2px #9e9e9e;
}
.productdetailsec .productdetailsblk .productattributes .colorlist li span:after
{
    display: none;
}
.productdetailsec .productdetaildesc
{
    margin-bottom: 1em;
    border-top: 1px solid #D8D8D8;
    padding-top: 1em;
}
.productdetailsec .productdetaildesc ul
{
        padding-left: 20px;
}
.productdetailsec .productdetaildesc ul li
{
        font-size: 14px;
    margin-bottom: 8px;
    /* text-transform: capitalize; */
        list-style: disc;
}
.productdetailsec .productdetailtab 
{
    margin-bottom: 2em;
}
.productdetailtab .accordion .accordion-item
{
    margin-bottom: 20px;
    background: transparent;
    border: none;
}
.productdetailtab .accordion .accordion-item .accordion-header
{

}
.productdetailtab .accordion .accordion-item .accordion-header .accordion-button
{
    text-transform: capitalize;
    font-weight: 600;
    color: #000;
    font-size: 18px;
    background: transparent;
    border-top: 1px solid #D8D8D8;
    padding: 24px 0;
}
.productdetailtab .accordion .accordion-item .accordion-body
{
    padding: 10px 0;
}
.productdetailtab .accordion .accordion-button:not(.collapsed)::after {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}
.productdetailsec .productdetailsblk .productspecification
{
    text-transform: capitalize;
}
.productdetailsec .productdetailsblk .productspecification tr .titletd
{
        padding: 10px 12px;
}
.productdetailsec .productdetailsblk .productspecification tr td
{
        padding: 10px 12px;
}
.productdetailsec .productdetailsblk .productfeatures
{

}
.productdetailsec .productdetailsblk .productfeatures ul
{
    padding: 0;
    margin: 0;
    display: table;
        width: 100%;
}
.productdetailsec .productdetailsblk .productfeatures ul li
{
        display: flex;
    align-items: center;
    float: left;
    width: 47%;
        margin: 0 5px;
    margin-bottom: 20px;
}
.productdetailsec .productdetailsblk .productfeatures ul li .featimg
{
    margin-right: 12px;
}
.productdetailsec .productdetailsblk .productfeatures ul li .featimg img
{
    height: 50px;
    width: auto;
    border-radius: 50%;
    mix-blend-mode: multiply;
}
.productdetailsec .productdetailsblk .productfeatures ul li p
{
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
}
.productdetailsec .productdetailinq
{

}
.productdetailsec .productdetailinq a
{
    background: #000;
    color: #fff;
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 8px;
}
.productdetailsec .productdetailinq a:hover
{
    background: #f05323;
}
.blogpagebannersec
{
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
}
.blogpagebannersec .blgtitlecnt .blogtitle
{
        font-size: 36px;
    line-height: 1.2;
    margin-bottom: 0;
}
.blogdetailsec
{
    position: relative;
    padding-top: 3em;
    padding-bottom: 3em;
}
.blogdetailsec .blogdetailblk
{
    padding: 0 10px;
}
.blogdetailsec .blogdetailblk .blgimg
{
 margin-bottom: 2em;
}
.blogdetailsec .blogdetailblk .blgimg img
{
width: auto;
    border-radius: 12px;
}
.blogdetailsec .blogdetailblk .blgcnt
{

}
.blogdetailsec .blogsidebarblk
{
    padding: 0 10px;
}
.blogdetailsec .blogsidebarblk .sidebarblk
{
    margin-bottom: 35px;
}
.blogdetailsec .blogsidebarblk .sidebarblk .blkttl
{
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
ul.recentpost
{
    padding-left: 0;
}
ul.recentpost li
{
   margin-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 15px;
}
ul.recentpost a
{
    display: flex;
    align-items: baseline;
    color: #000;
}
ul.recentpost a:hover
{
    color: #f05323;
}
ul.recentpost a span
{
    display: block;
    width: 100%;
}
ul.recentpost a i
{
    background: #f05323;
    color: #fff;
    height: 20px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
}
#productModal .modal-dialog
{
    max-width: 500px;
}
#productModal .modal-dialog .modal-header
{
        background: #eee;
}
.techspecsec
{
    padding-top: 3em;
    padding-bottom: 3em;
}
.techspecsec .productspecification
{
    margin-top: 2em;
}
.relprosec {
    padding-top: 2em;
    padding-bottom: 2em;
}
@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bounce{0%,10%,100%,20%,50%,80%{transform:translateY(0)}40%,60%{transform:translateY(-15px)}}
@keyframes bounce{0%,10%,100%,20%,50%,80%{transform:translateY(0)}40%,60%{transform:translateY(-15px)}}
.hminqfrm
{
position: absolute;
    width: 360px;
        top: 12%;
    bottom:12%;
    right: 8%;
    z-index: 1;
    margin: auto 0;
}
.hminqfrm .ctafrm
{
        background: #fff;
    padding: 1.2em;
    border-radius: 6px;
}
.hminqfrm .ctafrm .title
{
font-size: 20px;
margin-bottom: 10px;
}
.hminqfrm .ctafrm .formgroup
{
    font-size: 12px;
}
.hminqfrm .ctafrm form input:not([type="submit"]), .hminqfrm .ctafrm textarea, .hminqfrm .ctafrm select
{
padding: 8px 10px;
    font-size: 14px;
     border: 1px solid #dee2e6;
    border-radius: .375rem;
}
.hminqfrm .ctafrm form .sendbtn
{
margin-top: 5px;
    font-size: 14px;
}
.hminqfrm .ctafrm textarea
{
    height: 40px;
}
.hminqfrm .ctafrm .g-recaptcha
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.hminqfrm .privacytxt
{
    font-size: 14px;
    margin-bottom: 0;
        display: none;
}
@media only screen and (min-width: 1600px) and (max-width:1920px) {
    .innerpagebannersec {
    height: 670px;
}
.innerpagebannersec.subcatbanner {
    height: 670px;
}
.hminqfrm {
    position: absolute;
    width: 360px;
    top: 17%;
    bottom: 17%;
}
}
@media only screen and (min-width: 1200px) and (max-width:1400px) {
    .header .menu>ul>li>a
    {
        /*font-size: 12px;*/
    }
    .header .menu>ul>li {
        margin: 0 1rem;
    }
    .whyussec .whyblk
    {
        height: 420px;
    }
    .ctasec .ctacntblk .catlink p
    {
        font-size: 16px;
    }
    .ctasec .ctacntblk {
    padding: 0 1.2em;
}
.ctasec .ctafrm {
    padding: 3em 3em;
}
.innerpagebannersec {
    height: 445px;
}
.maincatlist .maincatcnt.maincatcntsm {
    height: 364px;
}
.maincatlist .maincatcnt {
    height: 490px;
}
.innerpagebannersec.subcatbanner {
    height: 445px;
}
.productdetailsec .productimagesblk {
    padding: 0 2em;
}
.hminqfrm {
    position: absolute;
    width: 340px;
    top: 5%;
    bottom: 5%;
    right: 8%;
}
.hminqfrm .ctafrm .title {
    font-size: 16px;
    margin-bottom: 6px;
}
.hminqfrm .ctafrm form input:not([type="submit"]), .hminqfrm .ctafrm textarea, .hminqfrm .ctafrm select {
    padding: 6px 8px;
    font-size: 13px;
}
.hminqfrm .ctafrm form .sendbtn {
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 14px;
}
}
@media only screen and (min-width: 990px) and (max-width:1199px) {
    
.whatsnewsec .whatnwblk .cntdiv .title
{
    font-size: 18px;
}
.whatsnewsec .owl-carousel .owl-nav button.owl-next {
    margin-right: 10px;
}
.whatsnewsec .owl-carousel .owl-nav button.owl-prev {
    margin-left: 10px;
}
.testisec .testiblk {
    padding: 4em 6em;
}
.whyussec:after
{
    height: 280px;
    width: 280px;
}
.whyussec .whyblk img {
    height: 55px;
}
.whyussec .whyblk {
    padding: 2em;
        height: auto;
        margin: 0 0.5em;
        margin-bottom: 35px;
}
.ctasec .ctacntblk .catlink p
{
    font-size: 14px;
        padding-left: 10px;
}
.ctasec .ctacntblk .title {
    font-size: 26px;
}
.ctasec .ctafrm {
    padding: 2em 2em;
}
.ctasec .ctacntblk .subttl:after {
    width: 65%;
}    
.ctasec .ctacntblk {
    padding: 0 1em;
}
.homecategorysec .catcntblk .subcatblk .title {
    font-size: 14px;
}
.maincatlist .maincatcnt {
    height: 410px;
}
.maincatlist .maincatcnt .title {
    font-size: 20px;
}
.maincatlist .maincatcnt.maincatcntsm {
    height: 320px;
    padding: 10px;
}
.maincatlist .maincatcnt.maincatcntsm .title {
    font-size: 16px;
}
.maincatlist .maincatcnt .link a {
    font-size: 13px;
}
.homeblogsec .blogblock .blogcnt .blogtitlblk img {
    height: 25px;
    margin-right: 0px;
}
.homeblogsec .blogblock .blogcnt .blogtitlblk .title {
    font-size: 16px;
}
.homeblogsec .blogblock {
    margin: 0 0px;
}
.videoslidersec .vidodiv {
    height: 490px;
}
.innerpagebannersec {
    height: 360px;
}
.innerpagebannersec.subcatbanner {
    height: 360px;
}
.catlistingsec .catsidebar {
    padding: 10px 0px;
}
.catlistingsec .catlisting {
    padding: 10px 0px;
}
.catlistingblk .productblk .productblkcnt .title {
    font-size: 14px;
}
.productdetailsec .productimagesblk {
    padding: 0 1em;
}
.productdetailsec .productdetailsblk .productfeatures ul li
{
    width: 100%;
}
.hminqfrm {
    position: absolute;
    width: 270px;
    top: 2%;
    bottom: 2%;
    right: 8%;
}
.hminqfrm .ctafrm {
    padding: 1em;
}
.hminqfrm .ctafrm textarea {
    height: 30px;
}
.hminqfrm .ctafrm .title {
    font-size: 16px;
    margin-bottom: 6px;
}
.hminqfrm .ctafrm form input:not([type="submit"]), .hminqfrm .ctafrm textarea, .hminqfrm .ctafrm select {
    padding: 4px 7px;
        font-size: 11px;

}
.hminqfrm .ctafrm form .sendbtn {
    height: auto;
        padding: 7px;
        margin-bottom: 8px;
        margin-top: 8px;
        font-size: 11px;
}
.hminqfrm .privacytxt {
    font-size: 12px;
            display: none;
}
}
@media only screen and (min-width: 768px) and (max-width:991px) {

.whatsnewsec {
    padding-top: 2em;
    padding-bottom: 4em;
}
.videoslidersec .videocntblk .sec-title {
    font-size: 30px;
}
.testisec .testiblk {
    border-radius: 23px;
    background: #FAFAFA;
    padding: 4em 4em;
}
.whyussec {
    padding-top: 2em;
    padding-bottom: 2em;
}
.whyussec:before, .whyussec:after
{
    display: none;
}
.whyussec .whyblk img {
    height: 50px;
}
.whyussec .whyblk {
    padding: 2em;
    height: auto;
}
.whyussec .whyblk .title {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 16px;
}
.whatsnewsec .whatnwblk
{
    margin-bottom: 20px;
}
.videoslidersec .vidodiv {
    height: 380px;
}
.testisec .testimonial .description {
    padding: 1em 4em;
}
.ctasec .ctafrmimg img {
    padding-right: 0em;
}
.ctasec .ctafrmimg
{
    padding-top: 2em;
    padding-bottom: 2em;
}
.maincatlist .maincatcnt {
    height: 460px;
        background: #F4F4F4;
        padding: 20px;
}
.maincatlist .maincatcnt .title {
    position: relative;
    font-size: 20px;
}
.maincatlist .maincatimg.scndimg
{
    display: none;
}
.homecategorysec .catimgblk
{
    display: none;
}
.homecategorysec .catcntblk {
    padding: 1em 1em;
}
.homecategorysec .homecatlist .catblkrow {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.innerpagebannersec.subcatbanner
{
    height: 260px;
}
.homecategorysec
{
    padding-top: 1em;
    padding-bottom: 1em;
}
.innerpagebannersec {
    height: 260px;
}
.catlistingsec .col-xl-3
{
    order: 2;
}  
.catlistingsec .col-xl-9
{
    order: 1;
}
.productdetailsec .productimagesblk {
    padding: 0 0em;
    margin-bottom: 2em;
}
}
@media screen and (max-width: 767px) {
    .homebreadcrumbsec {
    padding-top: 1em;
    padding-bottom: 1em;
}
.sec-title {
    font-size: 24px;
    margin-bottom: 40px;
}
.whatsnewsec .whatnwblk .cntdiv {
    padding-left: 15px;
}
.whatsnewsec .whatnwblk .cntdiv .title
{
    font-size: 16px;
    margin-bottom: 10px;
}   
.videoslidersec .videocntblk .sec-title {
    font-size: 26px;
    margin-bottom: 30px;
}
.videoslidersec .vidodiv {
    height: 250px;
    padding: 1em 0em;
}
.videoslidersec .vidothumb {
    padding: 10px;
}
.testisec {
    padding-top: 2em;
    padding-bottom: 2em;
}
.testisec .testiblk {
    padding: 2em 1em;
}
.testisec .testimonial .description:before
{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    top: 10px;
    left: -15px;
}
.testisec .testimonial .description
{
    padding: 10px 10px 10px 10px;
}
.whyussec {
    padding-top: 2em;
    padding-bottom: 2em;
}
.whyussec:after, .whyussec:before
{
    display: none;
} 
.whyussec .whyblk img {
    height: 60px;
}
.homeblogsec .blogblock .blogcnt .blogtitlblk img {
    height: 20px;
    margin-right: 0px;
}
.homeblogsec .blogblock .blogcnt .blogtitlblk .title {
    font-size: 16px;
}       
.homeblogsec {
    padding-top: 3em;
    padding-bottom: 1em;
}
.ctasec {
    padding-top: 3em;
    padding-bottom: 2em;
}
.ctasec .ctafrmimg img {
    width: 100%;
}
.ctasec .ctafrm {
    padding: 3em 2em;
}
.ctasec .ctafrmback {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.carousel-item img {
     margin-left: 0vh;
    }
.homebannersec .carousel-control-prev-icon:after, .homebannersec .carousel-control-next-icon:after
{
    display: none;
} 
.catlistingsec .col-xl-3
{
    order: 2;
}  
.catlistingsec .col-xl-9
{
    order: 1;
} 
.productdetailsec .productimagesblk {
    padding: 0 0em;
}
.productdetailsec .productimagesblk .thumbimg {
    margin: 5px;
}
.productdetailsec .productdetailsblk {
    position: sticky;
    top: 30px;
    padding: 0 0px;
    margin-top: 30px;
}
.productdetailsec .productdetailsblk .title {
    font-size: 24px;
    margin-bottom: 10px;
}
.productdetailsec .productdetailsblk .productfeatures ul
{
    display: table;
}
.productdetailsec .productdetailsblk .productfeatures ul li
{
    width: 100%;
}
.techspecsec {
    padding-top: 2em;
    padding-bottom: 2em;
}
}
@media screen and (max-width: 480px) {
body
{
    font-size: 14px;
}
.carousel-item img {
     margin-left: 0vh;
    }
.innerpagebannersec {
    height: 155px;
}
.innerpagebannersec.subcatbanner {
    height: 150px;
}
.whatsnewsec .whatnwblk .imgdiv {
    width: 90%;
    margin-bottom: 35px;
}
.whatsnewsec .whatnwblk .cntdiv {
    width: 90%;
}
.whatsnewsec .whatnwblk:after
{
    display: none;
}
.whatsnewsec .whatnwblk {
    display: block;
} 
.catalogsec .catalogdiv
{
    padding: 3em 1em;
}
.catalogsec .catlogcntblk .ttlblk img {
    height: 30px;
}
.catalogsec .catlogcntblk .ttlblk span {
    font-size: 14px;
}
.catalogsec .catalogdiv:before
{
    bottom: 0;
    height: 340px;
    width: 240px;
    top: auto;
}
.homecategorysec .catimgblk {
    padding: 0em 0em;
}
.homecategorysec .catcntblk .subcatblk .title {
    font-size: 14px;
}
.homecategorysec .catcntblk .subcatblk {
    padding: 5px;
}   
.homecategorysec .catcntblk .title {
    font-size: 20px;
} 
.homecategorysec
{
    padding-top: 1em;
    padding-bottom: 0em;
}
.whyussec .whyblk
{
    padding: 2em 1em;
    height: auto;
}
.ctasec .ctablock {
    padding-bottom: 4em;
}
.faqsec {
    padding-top: 2em;
    padding-bottom: 2em;
}
.faqsec .accordionCvr {
    padding-top: 2em;
}
.ctasec .ctafrmimg
{
        padding-top: 2em;
    padding-bottom: 2em;
}
.ctasec .ctafrmimg img {
    border-left: 0.83px solid #BEBEBE;
    padding-right: 0em;
}
.testisec .testiblk .testittl img {
    height: 150px;
    width: 150px;
}
.testisec .ctatitlblk ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
}
.testisec .ctatitlblk li:after
{
    display: none;
}
.testisec .ctatitlblk li {
    position: relative;
    margin: 10px 10px;
}
.testisec .ctatitlblk {
    text-align: center;
    margin-top: 3em;
}
.ctasec .ctacntblk .catlink p {
    font-size: 18px;
    line-height: 1.3;
}
.homeblogsec .blogblock .blogcnt
{
    padding: 20px 20px;
}
.homeblogsec .blogblock .blogcnt .blogtitlblk .caticn {
    height: 40px;
    width: 40px;
}
.maincatlist .maincatcnt {
    height: auto;
}
.maincatlist .maincatcnt .title {
    font-size: 22px;
}
.maincatlist .maincatcnt.maincatcntsm {
    height: auto;
}
.blogpagebannersec .blgtitlecnt .blogtitle {
    font-size: 22px;
}
.blogdetailsec .blogsidebarblk .sidebarblk .blkttl {
font-size: 20px;
}
.blogdetailsec .blogdetailblk .blgimg img {
    width: 100%;
    border-radius: 12px;
}
}    
@media screen and (max-width: 420px) {

}    
@media screen and (max-width: 320px) {

}

.buy-amazon-link{
    display:inline-block;
}
@media screen and (max-width: 400px) {
    .buy-amazon-link{
        margin-left:0px !important;
        margin-top: 30px;
    }
}

.buy-amazon-link {
    display: inline-block;
    text-transform: uppercase;
    background: #fff;
    /* padding: 5px; */
    /* border-radius: 5px; */
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 8px;
    border:1px solid #D8D8D8;
}
.buy-amazon-link img { width: 95px;
    margin-left: 5px;
}
.buy-amazon-link a {
    color: #000;
    font-weight: 600;
    padding:10px 8px;
}
.buy-amazon-link  {
    color: #000;
}
.buy-amazon-link:hover{
    border:1px solid rgb(240 83 35);
}

.buy-flipkart_link {
    display:inline-block;
}
@media screen and (max-width: 445px) {
    .buy-flipkart_link {
        margin-left:0px !important;
        margin-top: 20px;
    }
}

.buy-flipkart_link {
    display: inline-block;
    text-transform: uppercase;
    background: #fff;
    /* padding: 5px; */
    /* border-radius: 5px; */
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 8px;
    border:1px solid #D8D8D8;
}
.buy-flipkart_link img { width: 95px;
    margin-left: 5px;
    margin-bottom: 2px;
    margin-top: 1px;
}
.buy-flipkart_link a {
    color: #000;
    font-weight: 600;
    padding:10px 8px;
}
.buy-flipkart_link  {
    color: #000;
    margin-left:4px;
}
.buy-flipkart_link:hover{
    border:1px solid rgb(240 83 35);
}